*{
    margin: 0;
    padding: 0;
}

header{
    font-size: 50px;
    color: blueviolet;
}
.win{
    font-size: 30px;
    text-align: center;
    justify-items: center;
    /* height: 30vh; */
    padding: 30px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    background-color: aqua;
    width: 350px;
    height: 350px;
    gap: 8px;
    justify-content: center;
    /* justify-items: center; */
    /* align-items: center; */
    align-content: center;
    border-radius: 10px;
}

.bt{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: none;
    background-color:bisque;
    font-size: 40px;
    font-weight: bold;
}

.rea{
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
}